[submodule "sequenceDiagram/backend-nano"]
	path = sequenceDiagram/backend-nano
	url = https://github.com/mprzypasniak99/backend-nano.git
[submodule "sequenceDiagram/obiektowe"]
	path = sequenceDiagram/obiektowe
	url = https://github.com/przemekxa/obiektowe.git
[submodule "sequenceDiagram/backend-nice"]
	path = sequenceDiagram/backend-nice
	url = https://github.com/Borrubasz/nice-like.git
